html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

p{
    margin: 0;
    padding: 0;
}
 
header {
    border-bottom: 1px solid gray;
    padding: 10px;
    position: relative;
    margin: 0;
    height: 40px;

}

.logo{
    margin: 0;
    position: absolute;
    top: 10px;
    left:30px;
    width: 90px;
}

.user-pic{
    margin: 0;
    position: absolute;
    top:10px;
    right: 20px;
    width: 40px;
    border-radius: 50%;
}

.section{ 
    display: block;
    position: relative;
}

.section-1{
    display: block;
    position: relative;
    max-width: 600px;
}
.profile-pic{
    position: absolute; 
    width: 40px;
    padding: 10px 10px;
    border-radius: 50%;
}

.user-info h1, .user-info p{
    position: absolute;
    left: 60px;
}

.user-info h1{
    left: 60px;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    margin-block-start: 10px;
}

.user-info p{
    top: 20px;
    left: 60px;
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    margin-block-start: 13px;
}


.post-img{
    margin-top: 60px;
    width: 100%;
}

.post-interactions{
    display: flex;
    padding: 10px;
}

.post-interactions  p{
    padding: 4px;
}

.icon{
    width: 30px;
}

.post-details{
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}
